@tailwind base;
@tailwind components;
@tailwind utilities;
@import "swiper/css";
@import "swiper/css/pagination";

@layer components {
  .btn {
    @apply py-1 px-4 xl:px-3 2xl:px-5 rounded text-sm text-white;
  }
  .anim {
    @apply duration-500 transition-all;
  }
  .gradient {
    @apply bg-gradient-to-br from-[#FC7C23] to-[#F366B9];
  }
  .sim-card {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 82%, 80% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 82%, 80% 100%, 0% 100%);
  }
  .two-color-btn {
    background: -webkit-linear-gradient(#3dc7ef 50%, #bdbdbd 50%);
    background: -o-linear-gradient(#3dc7ef 50%, #bdbdbd 50%);
    background: -moz-linear-gradient(#3dc7ef 50%, #bdbdbd 50%);
    background: linear-gradient(#3dc7ef 50%, #bdbdbd 50%);

    text-align: center;
  }
  .grid-image {
    @apply row-span-2 object-cover h-full;
  }
}
